* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

* a {
  text-decoration: none;
}

* li {
  list-style-type: none;
}

.container {
  width: 1778px;
  margin: 0 auto;
}

.container1 {
  width: 2050px;
  margin: 0 auto;
}

.wparrer .wparrer__top {
  height: 45px;
  background: #333333;
}

.wparrer .wparrer__top .wparrer__top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wparrer .wparrer__top .wparrer__top__row .block__currency {
  margin: 13px 0 0 0;
}

.wparrer .wparrer__top .wparrer__top__row .block__currency #currency {
  color: #777777;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.wparrer .wparrer__top .wparrer__top__row .block__currency #valuta {
  color: #777777;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  border: none;
  background: #333333;
  outline: none;
}

.wparrer .wparrer__top .wparrer__top__row .block__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wparrer .wparrer__top .wparrer__top__row .block__sign .sign {
  margin: 13px 82px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 134px;
}

.wparrer .wparrer__top .wparrer__top__row .block__sign .sign .sig a {
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.wparrer .wparrer__top .wparrer__top__row .block__sign .korzina {
  width: 147px;
  height: 46px;
  background-color: #00c8c8;
}

.wparrer .wparrer__top .wparrer__top__row .block__sign .korzina img {
  padding: 15px 22px;
}

header {
  background: url("../img/home_header.png") no-repeat;
  width: 2083px;
  margin: 0 auto;
  height: 920px;
  background-size: cover;
  position: relative;
}

header .header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__row .header__logo {
  padding: 38px 0 0 137px;
}

header .header__row .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 38px 0 0 0;
}

header .header__row .header__menu nav {
  width: 595px;
  padding: 8px 115px 0 0;
}

header .header__row .header__menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__row .header__menu nav a {
  color: #222222;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header__row .header__menu nav a:hover {
  color: #00c8c8;
  border: 1px solid #00c8c8;
  padding: 10px;
  border-radius: 25px;
}

header .header__row .header__menu .header__search {
  margin-right: 135px;
}

header .header__row .header__menu .header__search #search {
  width: 190px;
  height: 30px;
  outline: none;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: 160px 8px;
  border: 1px solid #e7e7e7;
  padding: 0 0 0 15px;
  border-radius: 25px;
}

header .header__button {
  position: absolute;
  top: 762px;
  left: 1421px;
}

header .header__button p {
  width: 342px;
  height: 59px;
  border: 2px solid #737373;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

header .header__button a {
  color: #454647;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

header .header__button p:hover {
  background: #00c8c8;
}

header .header__button p:hover a {
  color: #f8f8f8;
  cursor: pointer;
}

section .section1 {
  position: relative;
}

section .section1 .line {
  width: 1770px;
  margin: 0 auto;
  height: 2px;
  background-color: #eeeeee;
  margin: 62px 0 62px 0;
}

section .section1 .menu {
  width: 700px;
  padding: 0 0 61px 0;
}

section .section1 .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .section1 .menu a {
  color: #727272;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

section .section1 .menu a:hover {
  color: #00c8c8;
  border: 1px solid #00c8c8;
  padding: 15px;
  border-radius: 25px;
}

section .section1 .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .section1 .gallery .block_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 30px 0;
}

section .section1 .gallery .block_img img:nth-child(1) {
  padding: 0 30px 0 0;
}

section .section1 .gallery .block__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 30px 0 0;
}

section .section1 .gallery .block__rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .section1 .gallery .block__rigth .block_img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 0 0;
}

section .section1 .gallery .block__rigth .block_img1 img:nth-child(1) {
  padding: 0 30px 0 0;
}

section .section2 {
  padding: 0 0 121px 0;
}

section .section2 .section2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .section2 .section2__row h3 {
  color: #575153;
  text-align: right;
  text-transform: uppercase;
  font-size: 48px;
  font-family: "Montserrat";
  font-weight: bold;
  letter-spacing: 2.4px;
  padding: 99px 57px 0 0;
}

section .section2 .section2__row .lookbook {
  color: #575153;
  font-size: 48px;
  font-family: "Montserrat";
  font-weight: 300;
  letter-spacing: 2.4px;
  text-align: right;
  text-transform: uppercase;
  padding: 0 57px 29px 0;
}

section .section2 .section2__row .text {
  color: #727272;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
  padding: 0 57px 31px 0;
}

section .section2 .section2__row .bth {
  width: 180px;
  height: 59px;
  border: 2px solid #737373;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 359px;
  left: 426px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .section2 .section2__row .bth a {
  color: #454647;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

section .section2 .section2__row .bth:hover {
  background: #00c8c8;
  cursor: pointer;
}

section .section2 .section2__row .bth:hover a {
  color: #f8f8f8;
  cursor: pointer;
}

section .section2 .section2__row .block__man {
  width: 663px;
  height: 530px;
  background: url("../img/img7.jpg");
  position: relative;
}

section .section2 .section2__row .block__woman {
  width: 663px;
  height: 530px;
  background: url("../img/img8.jpg");
  margin: 0 31px 0 30px;
  position: relative;
}

section .section2 .section2__row .block__your {
  width: 663px;
  height: 530px;
  background: url("../img/img9.jpg");
  position: relative;
}

footer .footer {
  width: 2050px;
  margin: 0 auto;
  background-color: #f8f8f8;
}

footer .footer .footer__row {
  padding: 65px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer .footer__row .title {
  color: #575153;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 0 33px 0;
}

footer .footer .footer__row .text_foo {
  color: #727272;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .footer .footer__row .text_foo:hover {
  color: #00c8c8;
  border: 1px solid #00c8c8;
  border-radius: 20px;
  padding: 5px;
}

footer .footer .footer__row .block__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer__row .block__information ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer__row .block__information li {
  padding: 0 0 20px 0;
}

footer .footer .footer__row .block__from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer__row .block__from ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer__row .block__from li {
  padding: 0 0 20px 0;
}

footer .footer .footer__row .block__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer__row .block__account ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer__row .block__account li {
  padding: 0 0 20px 0;
}

footer .footer .footer__row .block__lookbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer__row .block__lookbook ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer__row .block__lookbook li {
  padding: 0 0 20px 0;
}

footer .footer .footer__row .block__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer__row .block__contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .footer__row .block__contact li {
  padding: 0 0 20px 0;
}

footer .footer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer .footer__social .block__award {
  margin: 60px 27px 0 0;
}

footer .footer .footer__social .block__award .bth1 {
  width: 573px;
  height: 203px;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer .footer__social .block__award .bth1 a {
  width: 454px;
  height: 74px;
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "Montserrat - Bold";
  font-weight: 700;
  letter-spacing: 1.8px;
}

footer .footer .footer__social .block__social {
  margin: 62px 0 0 0;
}

footer .footer .footer__social .block__social .bth2 {
  width: 573px;
  height: 203px;
  background-color: #00c8c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer .footer__social .block__social .bth2 img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

footer .footer .footer__bottom {
  height: 45px;
  background: #333333;
  margin: 62px 0 0 0;
}

footer .footer .footer__bottom .footer__bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer .footer__bottom .footer__bottom__row .text__footer {
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}

footer .footer .footer__bottom .footer__bottom__row .fashion {
  margin-top: 14px;
}

footer .footer .footer__bottom .footer__bottom__row .designs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  width: 395px;
}

footer .footer .footer__bottom .footer__bottom__row .designs p:nth-child(1) {
  margin-right: 35px;
}
/*# sourceMappingURL=home.css.map */