*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    a{
        text-decoration: none;
    }
    li{
        list-style-type: none;
    }
}
.container{
    width: 1778px;
    margin: 0 auto;
}
.container1{
    width: 2053px;
    margin: 0 auto;
}
.wparrer{
    .wparrer__top{
        height: 45px;
        background: #333333;
        .wparrer__top__row{
            display: flex;
            justify-content: space-around;
            .block__currency{
                margin: 13px 0 0 0;
                #currency{
                    color: #777777;
                    font-family: Montserrat;
                    font-size: 13px;
                    font-weight: 400;
                    text-align: left;
                }
                #valuta{
                    color: #777777;
                    font-family: Montserrat;
                    font-size: 13px;
                    font-weight: 400;
                    text-align: left;
                    border: none;
                    background: #333333 ;
                    outline: none;
                }
            }
            .block__sign{
                display: flex;
                justify-content: space-between;
                .sign{
                    margin: 13px 82px 0 0;
                    display: flex;
                    justify-content: space-between;
                    width: 134px;
                    .sig{
                        a{
                            color: #999999;
                        font-family: Montserrat;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 20px;
                        }
                    }
                }
                .korzina{
                    width: 147px;
                    height: 46px;
                    background-color: #00c8c8;
                    img{
                        padding: 15px 22px ;
                    }
                }
            }
            
        }
    }
}
header{
    background: #f8f8f8;
    width: 2050px;
    margin: 0 auto;
    height: 112px;
    position: relative;
    .header__row{
        display: flex;
        justify-content: space-between;
        .header__logo{
            padding: 38px 0 0 137px;
        }
        .header__menu{
            display: flex;
            padding: 38px 0 0 0;
            nav{
                width: 595px;
                padding: 8px 115px 0 0;
                ul{
                    display: flex;
                    justify-content: space-between;
                }
                a{
                    color: #222222;
                    font-family: Montserrat;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 20px;
                    text-transform: uppercase;
                    transition: 0.5s;
                }
                a:hover{
                    color: #00c8c8;
                    border: 1px solid #00c8c8;
                    padding: 10px;
                    border-radius: 25px;
                }
            }
            .header__search{
                margin-right: 135px;
                #search{
                    width: 190px;
                    height: 30px;
                    outline: none;
                    background-image: url('../img/search.png');
                    background-repeat: no-repeat;
                    background-position: 160px 8px;
                    border: 1px solid #e7e7e7;
                    padding: 0 0 0 15px;
                    border-radius: 25px;
                }
            }
        }
    }
}
section{
    .section1{
        background: url('../img/the_brand.png') no-repeat;      
        width: 2053px;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1{
            font-family: "Montserrat";
            font-weight: 300;
            letter-spacing: 2.4px;
            color: #ffffff;
            font-size: 48px;
            line-height: 54px;
            text-transform: uppercase;
            span{
                font-family: "Montserrat";
                font-weight: bold;
                letter-spacing: 2.4px;
                color: #ffffff;
                font-size: 48px;
                line-height: 54px;
                text-transform: uppercase;
                padding-right: 25px;
            }
        }
        h3{
            color: #ffffff;
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 400;
            line-height: 54px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            padding: 53px 0 0 0;
        }

    }
    .section2{
        padding: 60px 0 114px;
        .section2__row{
            display: flex;
            justify-content: center;
            .title{
                color: #575153;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 700;
                line-height: 20px;
                text-align: left;
                text-transform: uppercase;
            }
            #email{
                width: 553px;
                height: 43px;
                border: 1px solid #e7e7e7;
                outline: none;
                padding-left: 25px;
                margin: 45px 0 0 0;
            }
            #email:focus{
                width: 553px;
                height: 43px;
                border: 1px solid #bb5465;
                background: #fcf6f7;
            }
            #password{
                width: 553px;
                height: 43px;
                border: 1px solid #e7e7e7;
                outline: none;
                padding-left: 25px;
                margin: 35px 0 0 0;
            }
            #password:focus{
                width: 553px;
                height: 43px;
                border: 1px solid #bb5465;
                background: #fcf6f7;
            }
            #bth{
                width: 152px;
                height: 62px;
                border: 2px solid #737373;
                background-color: #ffffff;
                color: #454647;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 3.2px;
                outline: none;
                transition: 0.7s;
                margin: 35px 0 0 0;
            }
            #bth:hover{
                background-color: #00c8c8;
                color: #f8f8f8;
            }
            #bth1{
                width: 265px;
                height: 62px;
                border: 2px solid #737373;
                background-color: #ffffff;
                color: #454647;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 3.2px;
                outline: none;
                transition: 0.7s;
                margin: 35px 0 0 0;
            }
            #bth1:hover{
                background-color: #00c8c8;
                color: #f8f8f8;
            }
            #checkbox{
                width: 27px;
                height: 27px;
                border: 1px solid #e7e7e7;
                background-color: #333333;
                margin: 35px 0 0 0;
                padding: 15px  45px 0 0;
            }
            #check{
                width: 499px;
                color: #8e8c8c;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 400;
                line-height: 22px;
                text-align: left;
                margin: 0 0 0 15px;
                position: absolute;
                top: 303px;
                left: 25px;
            }
            .block__sign{
                width: 553px;
                height: 272px;
                display: flex;
                flex-direction: column;
            }
            .block__line{
                width: 4px;
                height: 398px;
                background-color: #eeeeee;
                margin: 0 50px;
            }
            .block__register{
                display: flex;
                flex-direction: column;
                width: 553px;
                height: 404px;
                position: relative;
            }
        }
    }
}
footer{
    .footer{
        width: 2050px;
        margin: 0 auto;
        background-color: #f8f8f8;
        .footer__row{
            padding: 65px 0 0 0;
            display: flex;
            justify-content: space-around;
            .title{
                color: #575153;
                font-family: Montserrat;
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;
                text-transform: uppercase;
                padding: 0 0 33px 0;
            }
            .text_foo{
                color: #727272;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                line-height: 30px;
                transition: 0.4s;
            }
            .text_foo:hover{
                color: #00c8c8;
                border: 1px solid #00c8c8;
                border-radius: 20px;
                padding: 5px;
            }
            .block__information{
                display: flex;
                flex-direction: column;
                ul{
                    display: flex;
                    flex-direction: column;
                }
                li{
                    padding: 0 0 20px 0;
                }
            }
            .block__from{
                display: flex;
                flex-direction: column;
                ul{
                    display: flex;
                    flex-direction: column;
                }
                li{
                    padding: 0 0 20px 0;
                }
            }
            .block__account{
                display: flex;
                flex-direction: column;
                ul{
                    display: flex;
                    flex-direction: column;
                }
                li{
                    padding: 0 0 20px 0;
                }
            }
            .block__lookbook{
                display: flex;
                flex-direction: column;
                ul{
                    display: flex;
                    flex-direction: column;
                }
                li{
                    padding: 0 0 20px 0;
                }
            }
            .block__contact{
                display: flex;
                flex-direction: column;
                ul{
                    display: flex;
                    flex-direction: column;
                }
                li{
                    padding: 0 0 20px 0;
                }
            }
        }
        .footer__social{
            display: flex;
            align-items: center;
            justify-content: center;
            .block__award{
                margin: 60px 27px 0 0;
                .bth1{
                    width: 573px;
                    height: 203px;
                    background: #333333;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{  
                        width: 454px;
                        height: 74px;
                        text-align: center;
                        font-size: 36px;
                        color: #ffffff;
                        line-height: 48px;
                        text-transform: uppercase;
                        font-family: "Montserrat - Bold";
                        font-weight: 700;
                        letter-spacing: 1.8px;
                    }
                }
            }
            .block__social{
                margin: 62px 0 0 0;
                .bth2{
                    width: 573px;
                    height: 203px;
                    background-color: #00c8c8;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img:hover{
                        transform: scale(1.2);
                        transition: 0.7s;
                    }
                }
            }
        }
        .footer__bottom{
            height: 45px;
            background: #333333;
            margin: 62px 0 0 0;
            .footer__bottom__row{
                display: flex;
                justify-content: space-around;
                .text__footer{
                    color: #999999;
                    font-family: Montserrat;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 30px;
                }
                .fashion{
                    margin-top: 14px;
                }
                .designs{
                    display: flex;
                    margin-top: 14px;
                    width: 395px;
                    p:nth-child(1){
                        margin-right: 35px;
                    }
                }
            }
        }
    }
}