*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/*header*/
.header{
    width: 100%;
    height: 81px;
    background: #669966;
}
.menu_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    padding-top: 28px;
    width: 556px;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav a{
    font-family: Open Sans;
    font-size: 18px;
    line-height: 25px;
    color: #DFDFDF;
}
nav a:hover{
    color: blueviolet;
    transition: 2s;
}
menu{
    padding-top: 29px;
    width: 220px;
}
menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
menu a{
    font-family: Open Sans;
    font-size: 18px;
    line-height: 25px;
    color: #DFDFDF;
}
.menu svg{
    width: 25.27px;
    height: 18.95px;
    background: #FFFFFF;
}
/*section*/
.section1{
    display: flex;
    justify-content: space-between;
}
.section1_image{
    padding-top: 51px;
}
.section1_nav{
    display: flex;
    padding-top: 54px;
}
.section1_nav p{
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 341px;
    height: 48px;
    background: #F3F3F3;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 47px;
}
.section1_nav img{
    margin-left: 58px;
}
.section1_navigation{
    width: 773px;
    padding: 41px 0;
}
.section1_navigation ul{
    display: flex;
    justify-content: space-between;
}
.section1_navigation a{
    font-family: Open Sans;
    font-size: 18px;
    line-height: 25px;
    color: #3F3F3F;
}
.section1_navigation a:hover{
    border-bottom: 3px solid  #669966;
}
/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    max-height: 793px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
      display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    position: absolute;
    top: 131.66px;
    left: 300px;
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    color: #3F3F3F;
  }
  .text1{
    position: absolute;
    width: 389px;
    height: 101.2px;
    left: 300px;
    top: 200.44px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #999999;
  }
  .text2{
      color: #F3F3F3;
  }
  .bth{
    position: absolute;
    width: 305px;
    height: 52.08px;
    left: 280px;
    top: 324.24px;
    background: #669966;
    border-radius: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bth a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/*section2*/
.section2{
    padding-top: 150px;
}
.section2 a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 37px;
    color: #3F3F3F;
}
.section2 h3{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 45px;
    text-align: center;
    color: #3F3F3F;
}
.section2 p{
    transition: 1s;
}
.section2 p:hover{
    transform: scale(1.1);
}
.top_row{
    display: flex;
}
.tea{
    background: url('img/tea.jpg') no-repeat;
    width: 793px;
    height: 323px;
    margin-right: 20px;
    padding: 45px 0 0 58px;
}
.kofe{
    background: url('img/kofe.jpg') no-repeat;
    width: 387px;
    height: 323px;
    padding: 25px 0 0 43px;
}
.bottom_row{
    display: flex;
}
.sweets{
    background: url('img/sweets.jpg')no-repeat;
    width: 387px;
    height: 323px;
    margin-right: 20px;
    padding: 45px 0 0 58px;
}
.attributes{
    background: url('img/attributes.jpg') no-repeat;
    width: 488px;
    height: 323px;
    margin-right: 20px;
    padding: 45px 0 0 58px;
}
.shares{
    background: url('img/shares.jpg') no-repeat;
    width: 285px;
    height: 323px;
    padding: 45px 0 0 58px;
}
/*best_goods*/
.section5 h2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 45px;
    text-align: center;
    color: #3F3F3F;
    padding-top: 272px;
    padding-bottom: 28px;
}
.best_goods_row{
    display: flex;
    justify-content: space-between;
}
.title{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
    color: #3F3F3F;
    padding:0 0 16px 23px
}
.subtitle{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    padding-left: 23px;
}
.texta{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #999999;
    padding: 2px 0 0 23px;
}
.money{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #3F3F3F;
    padding: 19px 0 27px 23px;
}
.money1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
    color: #3F3F3F;
}
.money2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
    color: #E44C50;
}
.mon1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: line-through;
    color: #999999;
}
button{
    width: 253px;
    height: 53px;
    background: #669966;
    border-radius: 42px;
    border: none;
    margin-left: 15px;
}
button p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.cont1{
    width: 285px;
    height: 571px;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}
.cont1 img{
    padding: 76px 62px 39px 61px;
    transition: 1s;
}
.cont1 img:hover{
    transform: scale(1.2);
}
.cont2{
    width: 285px;
    height: 571px;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}
.cont2 img{
    padding: 76px 62px 39px 61px;
    transition: 1s;
}
.cont2 img:hover{
    transform: scale(1.2);
}
.cont3{
    width: 301.12px;
    height: 571px;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}
.cont3 img{
    padding: 76px 62px 39px 61px;
    transition: 1s;
}
.cont3 img:hover{
    transform: scale(1.2);
}
.cont4{
    width: 285px;
    height: 571px;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}
.cont4 img{
    padding: 76px 62px 39px 61px;
    transition: 1s;
}
.cont4 img:hover{
    transform: scale(1.2);
}
.shares_row{
    display: flex;
    justify-content: space-between;
}
/*section3*/
.section3{
    margin-top: 191px;
    position: relative;
}
.back{
    background: url('img/Mask.jpg') no-repeat;
    background-size: cover;
    height: 516px;
    filter: drop-shadow(-10px -10px 20px rgba(245, 245, 245, 0.7)), drop-shadow(10px 10px 20px rgba(245, 245, 245, 0.7));
}
.section3 p{
    position: absolute;
    top: 126px;
    left: 202px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #3F3F3F;
}
#email{
    position: absolute;
    top: 337px;
    left: 205px;
    width: 355px;
    height: 53px;
    background: black;
    border: none;
    border-radius: 42px;
    padding-left: 40px;
}
#email:focus{
    outline: none;
    background: blue;
}
#but{
    position: absolute;
    width: 203px;
    height: 53px;
    left: 434px;
    top: 337px;
    background: #669966;
    border-radius: 42px;
    border: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
/*footer*/
.footer{
    height: 339px;
    background: #4F6C4F;
}
.footer_row{
    display: flex;
    justify-content: space-between;
    padding-top: 67px;
}
.footer a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #DFDFDF;
}
.footer_logo{
    display: flex;
    flex-direction: column;
}
.footer_logo img{
    padding-top: 115px;
}
.phone{
    display: flex;
    flex-direction: column;
}
.phone svg:nth-child(1){
    align-items: flex-start;
}
.phone svg:nth-child(2){
    margin-top: 29px;
}
.zag{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 175.68%;
    color: #FFFFFF;
}